body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#baner {
    background-color: #9A6900;
    color: white;
    text-align: center;
    font-size: 180%;
    padding: 20px 0;
}

#main-container {
    display: flex;
}

#lewo {
    background-color: #FFF;
    color: black;
    width: 60%;
    padding: 20px;
}

#prawo {
    background-color: #C47A00;
    color: white;
    width: 40%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

h1, h2, h3 {
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 300px;
}

input[type="tekst"], input[type="haslo"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
}

input[type="wysli"], input[type="reset"] {
    margin: 5px;
    padding: 5px 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    margin: 10px 0;
}

